.events-hero {
    text-align: center;
}
.events-hero h1 {
    padding-bottom: 30px;
}
.shop-now {
    background-color: #0fe1b7;
    border-radius: 50px;
    color: #000;
    border: 2px solid #0fe1b7;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 30px;
    line-height: 2.2;
    cursor: pointer;
    box-sizing: border-box;
}
.shop-now:hover {
    background-color: #222;
    color: #0fe1b7;
} 
.events-container h2 {
    text-align: center;
    text-transform: uppercase;
}
.events-container h2 span {
    color: #0fe1b7;
    font-weight: 600; 
}
.event-row {
    padding-bottom: 34px;
}
.delivery-terms {
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase;
}
.delivery-terms h2 {
    padding-bottom: 25px;
    padding-top: 25px;
}
.delivery-terms a {
    color: #0fe1b7;
}
.fine-print {
    font-size: 14px;
}