body {
    font-family: sans-serif;
}
.navbar {
    padding-left: 100px;
    padding-right: 100px;
}
.navbar-nav {
    margin-left: auto;

}
.navbar-light .navbar-nav .nav-link {
    color: #222;
    padding: 5px;
}
.nav-link {
    border: 2px solid #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    border:  2px solid #0fe1b7;
}
.jumbotron {
    text-align: center;
}
.jumbotron h1 {
    width: 300px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
h1 span {
    color: #0fe1b7;
}
.jumbotron p{
    padding-bottom:40px;
}
.shop-now {
    background-color: #0fe1b7;
    border-radius: 50px;
    color: #000;
    border: 2px solid #0fe1b7;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 30px;
    line-height: 2.2;
    cursor: pointer;
    box-sizing: border-box;
}
.shop-now:hover {
    background-color: #222;
    color: #0fe1b7;
} 
.roots-action {
    text-align: center;
    margin-bottom: 2rem;
}
.roots-action p {
    font-size: 24px;
}
.roots-action p span {
    font-size: 24px;
    font-weight: 700;
    color: #0fe1b7;
}
h2 {
    padding-top: 34px;
}
h2 span {
    color: #0fe1b7; 
}
.safety-guidelines {
    text-align: center;
    margin-bottom: 2rem;
}
.safety-guidelines h2 {
    padding-top: 0;
}
.community-container {
    text-align: center;
}
.first-time-visit {
    background: silver;
    color: #fff;
}
.first-time-visit .first-visit-btn {
    margin-bottom: 34px;
    margin-top: 100px;
    background-color: #0fe1b7;
    border-radius: 50px;
    color: #000;
    border: 2px solid #0fe1b7;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1px 15px;
    line-height: 2.2;
    cursor: pointer;
    box-sizing: border-box;
}
.first-time-visit .first-visit-btn:hover {
    background-color: #222;
    color: #0fe1b7;    
}
.membership {
    background: grey;
    color: #fff;
} 
.membership h2 {
    width: 280px;
    margin: auto;
} 
.membership p {
    margin-bottom: 0;
    font-size: 20px;
} 
.membership .membership-btn {
    margin-top: 70px;
    margin-bottom: 34px;
    background-color: #0fe1b7;
    border-radius: 50px;
    color: #000;
    border: 2px solid #0fe1b7;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1px 15px;
    line-height: 2.2;
    cursor: pointer;
    box-sizing: border-box;
}
.membership .membership-btn:hover {
    background-color: #222;
    color: #0fe1b7;
}
.navbar.footer {
    background: #222;
}
.footer .navbar-nav .nav-link {
    color: #FFF;
}
.footer .nav-item {
    border: 2px solid #222;
}
.footer .navbar-nav .nav-link:hover {
    color: #fff;
}

.products-options {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.products-options .row a {
    height: 250px;
    text-transform: uppercase;
    background: silver;
    border: 2px #0fe1b7 solid;
    padding-left: 0;
    padding-right: 0;
}
.products-options .row a p {
    text-align: center;
    margin-top: 65%;
    color: #fff;
    font-weight: 700;
    background: #222;
}
.products-options .row a:hover {
    text-decoration: none;  
    opacity: .9; 
}
.products-options .row a:hover p {
    color: #0fe1b7;  
}
.products-options .first-row {
    padding-bottom: 15px;
}

.we-care {
    margin-bottom: 0;
}
@media only screen and (max-width: 1199px) {
    .products-options .row a p {
        margin-top: 85%;
    }
}
@media only screen and (max-width: 992px) {
    .products-options .row a p {
        font-size: 15px
    }
}
@media only screen and (max-width: 991px) {
    .navbar-nav {
        margin: auto;
        text-align: center;
    }
    .products-options .row a p {
        margin-top: 120%;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        padding-left: 20px;
        padding-right: 20px;
    }
    .membership h2 {
        width: 240px;
    }
    .products-options .row a {
        height: 150px;
        margin-bottom: 15px;
    }
    .products-options .first-row {
        padding-bottom: 0;
    }
    .products-options .row a p {
        margin-top: 12%;
    }
}
@media only screen and (max-width: 555px) {
    .community-container .row {
        display: block;
    }
    .membership h2 {
        width: 280px;
    }
}
@media only screen and (max-width: 428px) {
    .jumbotron h1 {
        padding-top: 20px;
        padding-bottom: 30px;
        font-weight: 700;
    }
    .display-4 {
        font-size: 35px;
    }
    .jumbotron .rootsFlower { 
        height: 60px;
        width: 75px;
    }
    .lead {
        font-size: 18px;
    }
    .jumbotron p {
        padding-bottom: 20px;
    }
    .shop-now {
        padding: 10px 20px;
    }
    h2 {
        font-size: 25px;
        font-weight: 700;
    }
    
}