.our-team-header-container h1 {
    text-align: center;
}
.our-team-header-container h1 span {
    color: #0fe1b7;
}
.meet-team {
    text-align: center;
}
.meet-team h2 {
    font-weight: 600;
}
.meet-team h2 span {
    color: #0fe1b7;
}
.meet-team p {
    font-size: 20px;    
}
.team-member-cards {
    padding-top: 25px;
    padding-bottom: 50px;
}
.team-member-cards .row {
    padding-top: 15px;
}
.team-member-cards .first-cards {
    padding-top: 15px;
}

.about-us img {
    width: 100%;
}
.about-us p {
    line-height: 1.5;
    font-size: 18px;
}
.about-us .col {
    padding-top: 40px;
}

@media screen and (max-width: 992px) {
    .team-member-cards .card-deck {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: .5rem;
    }
    .team-member-cards .card-deck .lone {
        width: 130%;
    }
}
@media screen and (max-width: 770px) {
    .about-us .row1 {
        flex-direction: column;
    }
    .about-us .row2 {
        flex-direction: column-reverse;
    }
    .about-us .row3 {
        flex-direction: column;
    }
    .about-us .row4 {
        flex-direction: column-reverse;
    }
    .team-member-cards .card-deck .lone {
        width: 44%; 
    }
}
@media screen and (max-width: 538px) {
    .team-member-cards .card-deck .lone {
        width: 100%; 
    }
} 
@media screen and (max-width: 555px) {
    .our-team-header-container h1 {
        font-size: 34px
    }
    .meet-team h2 {
        font-size: 24px;
    }
    .meet-team p {
        font-size: 18px;
    }
}